
<div class="text-box">
<p>Elizabeth Uselton is an amatuer paleontologist, unlicensed private eye, and full stack software developement student in Seatte, WA. She is super left handed.
</p>

<p>
You should probably go to her horoscope page under "Projects", as right now it represents more time and effort than this page.
</p>
</div>