<!DOCTYPE html>
<head>
  <link href="/css/main.css" media="all" rel="stylesheet">
  <title>Elizabeth Uselton</title>
</head>
<body>
  <% its_a_post = false if its_a_post.nil? %>
  <h1>#{ Elizabeth Uselton }</h1>
  <%= erb :menu %>
  <% post_data = yield %>
  <%= erb(:post_layout, :locals => {post: post_data}) if its_a_post %>
  <%= post_data unless its_a_post %>
</body>