<!DOCTYPE html>
<head>
  <link href="/css/main.css" media="all" rel="stylesheet">
  <title>Elizabeth Uselton</title>
</head>
<body>
  <h1>Elizabeth Uselton</h1>
  <ul class="outer-menu">
    <li>Blog
      <ul class="dropdown">
        <% @sorted_posts.each do |post, date_array| %>
        <li class="button"><a href="/blog/<%= post %>"><%= post %></a></li>
      <% end %>
      </ul>
    </li>
    <li>Projects
      <ul class="dropdown">
        <li class="button"><a href="http://elizabeth-sinatra.herokuapp.com">Totally Legit Horoscopes</a></li>
        <li class="button">Sassy Python Game</li>
        <li class="button">Ada Developers Academy Webring</li>
      </li>
    </ul>
  </ul>
  <%= yield %>
</body>