<!DOCTYPE html>
<head>
  <link href="/css/main.css" media="all" rel="stylesheet">
  <title>Elizabeth Uselton</title>
</head>
<body>
  <h1>Elizabeth Uselton</h1>
  <ul class="outer-menu">
    <li>Blog</li>
      <ul class="dropdown">
        <li class="button">Blog posts go here hopefully</li>
      </ul>
    <li>Projects</li>
      <ul class="dropdown">
        <li class="button"><a href="http://elizabeth-sinatra.herokuapp.com">Totally Legit Horoscopes</a></li>
        <li class="button">Sassy Python Game</li>
        <li class="button">Ada Developers Academy Webring</li>
      </ul>
  </ul>
  <%= yield %>
</body>