  <ul class="outer-menu">
    <li>Ada Blog</li>
    <li>Resume</li>
    <li>About Me</li>
    <li>Projects
      <ul class="dropdown">
        <div class="floater">
          <li class="button"><a href="http://elizabeth-sinatra.herokuapp.com">Totally Legit Horoscopes</a></li>
        </div>
        <div class="floater">
          <li class="button">Sassy Python Games</li>
        </div>
        <div class="floater">
          <li class="button">Ada Developers Academy Webring</li>
        </div>
      </li>
    </ul>
  </ul>