body {
  font-family: Sylfaen, Palatino Linotype, Book Antiqua, Palatino, serif;
  background-image: url('/images/stonewall.jpg');
}

h1 {
  text-align: center;
  size: 60px;
  color: #BBDDFF;
  padding: 30px 0;
  margin: 0;
  text-shadow: 2px 2px 10px #000000, -2px -2px 10px #000000, 2px -2px 10px #000000, -2px 2px 10px #000000, 2px 2px 30px #000000, -2px -2px 30px #000000, 2px -2px 30px #000000, -2px 2px 30px #000000;
}

.text-box {
  background-color: #DDEEFF;
  size: 24px;
  width: 500px;
  padding: 30px;
  margin: 20px auto;
  border: 2px solid #eee;
}

ul.outer-menu {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 20px;
  opacity: 0.9;
  list-style-type: none;
}

ul.outer-menu li {
  display: inline-block;
  position: relative;
  padding: 30px;
  size: 30px; /*Not working*/
  margin: 0px;
}

ul.outer-menu, ul.outer-menu ul {
  padding: 0;
  margin: 0;
}

ul.outer-menu ul.dropdown {
  display: none;
  position: absolute;
}

ul.outer-menu ul.dropdown li {
  display: block;
  margin: 0;
  padding: 5px;
}

ul.outer-menu ul.dropdown li:hover {
  background-color: #FFFFFF;
  opacity 0.9;
}

ul.outer-menu li:hover ul {
  display: block;
}

.button {
  width: 125px;
  height: 20px;
  background: #D6C794;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  opacity: 0.7;
}




