date: 2014-07-20


<p>So we're big kids now, in our internships. It's been really interesting seeing all the ways we're starting to grow and have different specialties and experiences. But we are all overflowing with side projects we want to do, and more than that, we all want. To get good fast at a variety of different things.</p>

<p>We'd also like to take to the wide streets of the internet and strut our stuff a little. And then there's the matter of wanting to give back to the community that's built so many neat tools that I've used. So, did you know that only 1.5% of open source contributors are women? That's insane. Just Ada all doing an open source project would be a significant bump to that number.</p>

<p>I've been working in Python in my internship, which is just different enough to notice and have things be not quite as smooth as they could be, but I have not been doing web development. I really wanted an internship where I'd get to explore things other than web development and have a wider range of careers open to me. But I've been a bit concerned, I haven't been getting to do any actual web development work and I don't want to get rusty and find myself at a space where at the end of my internship my web dev skills are rusty and my computer science skills burgeoning, I might be caught between the two things.</p>

<p>When long time Ada TA and Foundry employee Andrew Gorchester suggested that Django would have a lot of issues that needed worked on, and that he'd mentor someone through that, I jumped at the chance. 1. If you ever have the chance to be mentored by Andrew, you should take it. He is kind, generous with his time, and good at explaining things. 2. Poking around and making a couple of Django apps, which I'd have to do to get a feel for it before contributing would let me continue with my Python while still brushing up on my web dev skills.</p>

<p>So next time if this blog looks different (Something that is long, long overdue) it's probably a Django app.</p>