date: 2013-12-20


<p>I'm under the impression that no one reads this blog, except for Ada instructors and program managers. I don’t mean that as a bad thing, just that all of us students are kept too busy to read each other's blogs (sometimes too busy to even write our own blogs). So, improbable and tiny internet following, I feel I can share things with you, internet. You've always been there for me, and even though you and I have been friends for a long time, you tell the world about remarkably few of the stupid things I've done in my life.</p>

<p>I was inspired by a chatbot my classmate and friend Davida made for her Wait list app, which would report on who needed help and direct TAs to them. She has a great blog post about it <a href="http://davida-sinatra.herokuapp.com/posts/solving_problems">here</a>. If she can make a chat bot, I can make a twitter bot. This gives me an opening into two of my favorite things: the Turing Test, and pranking.</p>

<p>I've decided to start pranking my fellow classmates (and maybe other people). Please don't tell them. If you want to help, or just want to let me know you're in the know, email me about it. I'm going to try to get a twitter bot up in the next week, to follow, comment on, and retweet my classmates. I hope to have some fun with this, while learning things for bigger projects further down the road. Keep my secrets, internet, and I'll keep you posted.</p>