date: 2013-11-09


<p>
Week three has been our first big project week, pair programming with the same person for 5 days on a Farmer’s Market application. I was a little miffed to be pulled from my goal to sit by someone new every day, but working with Blake was wonderful. I feel like she and I are both explorers when it comes to coding. Some people may be a little faster (though by asking around, there aren’t many of those), but we’re poking around at different things, getting side tracked and learning a lot. We weren’t really plowing through in a goal oriented way, which is not my learning style. Despite that, we got all of our basic methods done and the vast majority of the extra credit methods, wrote a successful RSpec test, and created an extra joke method for Bookis to hopefully find. 
</p>

<p>
I would have really liked to have more time to clean up our code and break things into smaller methods. I don’t really feel like I lived up to my potential in that department with this project, and I’m looking forward to trying again in the future, or hopefully even going back and polishing up my code for further review. I feel like with more extra credit methods than anyone could do dangling in front of me, I couldn’t resist exploring all of them, rather than going back and tidying things up. A bright spot, though is that I know I can do that quality of work, I just don’t feel I implemented it consistently. Blake and I went over to the Substantial offices one evening for their weekly Beer && Code, and while there we hammered out a really neat, concise little syntax for the preferred vendor method.
</p>

<p>
vendor = vendor_revenue_data.entries.sort_by{|k, v| v}.first 
vendor[0]
</p>

<p>
The very next day, Bookis went over what we’d been looking at in class, and basically wrote our code verbatim. This was exciting, because it meant we’d totally figured out how to use some of this code ahead of schedule, and that we’d done it exactly how Bookis was presenting it clearly meant we’d found one of the best ways to do what we were doing. On the other hand, we were like “Bookis! Why are you telling all our secrets!?” I know, right? It’s almost like he wants all of the class to learn or something.
</p>

<p>
This last week we spent a lot more time working on our project as a opposed to hearing lectures, and I have never been so tired just in my brain, instead of from being up date or being on my feet all day. It was like I felt I could have been more productive if I just were more well rested, but I couldn’t be well rested because I had too much to do. I may need to learn how to responsibly utilize breaks to fight cloudy brain. I expressed that I think it’s good to build stamina for long days of coding when we’re all doing this on the job, and just got the response “No, this is more intense coding than you’ll ever be doing at a job.” So, I would advise that for anyone reading this blog because they are looking at this program, it is tough. While I don’t feel like anything is beyond me mentally, the sheer time commitment is intense. But, better to be in an intense program where I’m learning a lot than a more mild program where I’d learn less.
</p>