date: 2013-12-09


<p>
Oh my gosh, you guys: Rails. This week we made a cookbook app using Rails, after spending last week on Sinatra blogs, and Rails is intense. Let me back up a bit, in case you're a non-programmer looking at this for an idea of what that actually means. Basically, when you are making a website, there are a billion files behind the scenes each doing a different thing. Sinatra is a framework which runs your website off maybe a million files, instead of a billion. (A million is closer to 10, and a billion is... no Rails has a billion files, I'll stand by that). So, Sinatra was a good way to get a more managable size idea of what Rails was going to be like. But Rails is still so huge, and can't really be taught separate from other parts of itself, which just kind of leads to there being a little bit where you're really bad at Rails.
</p>

<p>Rails is like a helpful roommate who has a schedule opposite yours and no phone so you can never call them. This helpful roommate does many things for you. Sometimes you come home and the apartment is cleaned. Sometimes there's a note that says "Hey, I made cornbread, it's in the fridge." It's pretty sweet. The problem comes in the fact that you don't really know what your roommate is going to do. Sometimes you stop at the grocery store on the way home from work and buy some more fresh pruduce, because you're out. But then you get home and your roommate (being helpful!) has already bought produce. Now you just have too much produce. Sometimes, you were expecting a package, and you sure are glad your roommate signed for it because that means you don't have to go pick it up in SoDo, but you don't know where in the apartment they put it, and you can't ask because they're at work. Sometimes you even come home and you had mentioned wanting to get a coffee table, and you find out your roommate has already gone out and gotten one, and you hate their taste. Sometimes they have all these great kitchen gadgets you want to use, but have completely rearranged the kitchen so you don't know where the immersion blender is. This is what Rails is like.
</p>

<p>
I can only assume, as a person who has had many weird roommates (and maybe been the weird roommate a time or two), that I will learn their habits and we will improve our communication skills until I know which nice things to expect from them, where they put packages, and when I need to tell them that I will handle buying a new coffee table. It seems like, at that point Rails will be awesome, but right now there is an inevitable horrible period where I don't know whether my roommate is throwing a party or having band practice, or what.
</p>

<p>
So this week I made a cookbook app with Anne, my pair programming partner, and Rails my weird new roommate I can't talk to. Not gonna lie, it was really hard, and we spent a lot of time just stumbling around on all the things Rails does that we weren't familiar with, but I'm not moving out. This roommate and I are going to get used to each other.
</p>
</p>