date: 2013-11-16


<p>If week 3 was exhaustion from too much code out, week 4 is exhaustion from too much code in. We had two great guest speakers this week, Sam Livingston-Gray and Trevor Bramble, who taught us about test driven development and databases respectively. I feel like I’ve gotten a lot more out of RSpec and test driven development so far, since Kerri set up some examples for us to use them as warm up exercises. I really liked them, both because they gave me a chance to make sure I was getting things I thought I was getting in the test driven development lecture, and because they were really structured as opposed to some of our earlier free play style “go build a thing!” exercises which were really useful for practice, but hard to know if you were doing well at. I’m hopeful that we’ll do some more SQLite database things, just to cement all the guest lecture stuff.
</p>

<p>
Week 3, working hard on my farmer’s market app all day, all week, I would be begging for some lecture time just to sit and process things. Week 4, we had an intense amount of lecture, and I wanted to work on projects. I really don’t think there’s any way we could have slogged through that much information without so much lecture though, so I don’t know what I’m advocating.
</p>

<p>
I enjoyed getting to know a little more about regular expressions in Ruby. For anyone just starting out, I know, they look a mess, but they’re worth it, I promise. I enjoy having more challenging Ruby exercises woven in through things. I know not everyone is finding the same strengths at an even rate, and I tend to take challenges pretty well in stride, so Kerri was nice enough to set up an exercise with extra credit. It’s nice to have graduated levels of expectations ...it also gives me delusions of grandeur when I complete all the extra credit tasks, though as I learned with the Farmers Market app, I should be careful with that, and remember to get everything fully polished first.
</p>

<p>
Speaking of Farmers Market apps, Blake and I had enough time to go over ours on Saturday because we’re so devoted, and cleaned it up quite a bit. It seems like there’s always more work that could be done, and I guess I’m going to have to learn to be comfortable with that.
</p>

<p>
We also learned a lot about Sinatra over the last week. I made a pretty sweet app that generates horoscopes. It is a) 100% as accurate as real horoscopes b) a slightly fancy Ipsum generator. I was the first person in class, to my knowledge to realize that we could put if statements in params to generate pages that weren’t explicitly stated. That was a much better way to do it, as I really didn’t want to make distinct pages for every astrological sign. 
</p>

<p>
I’m excited to start getting things on the web and be able to show my friends, instead of just “well, if you go to github, and then you install Ruby, and a bunch of gems, and download my hangman game…” which tends to limit people’s ability to share in my joy of creation.
</p>

<p>
Alas, with as busy as I have been, I have not had a lot of time to devote to researching the super secret side project my brother recommended, but maybe I will find the time during Thanksgiving break. (Hint: It’s basically an Ultron)
</p>